{% extends 'base.html.twig' %}

{% block title %}{{ apartment.name }}{% endblock %}

{% block body %}
    <section id="apartment-detail-root">
        {% include 'admin/_apartment_detail_content.html.twig' %}
    </section>
{% endblock %}
