{% extends 'base.html.twig' %}

{% block title %}Manuels{% endblock %}

{% block body %}
    <section class="admin-home-shell">
        <div id="admin-manuals-content">
            {% include 'admin/_manuals_content.html.twig' %}
        </div>
    </section>
{% endblock %}
