{% extends 'base.html.twig' %}

{% block title %}Employés{% endblock %}

{% block body %}
    <section class="admin-home-shell">
        <div id="admin-users-content">
            {% include 'admin/_users_content.html.twig' %}
        </div>
    </section>
{% endblock %}
