{% extends 'base.html.twig' %}

{% block title %}{{ apartment.name }}{% endblock %}

{% block body %}
    <section class="page-head employee-page-head">
        <div>
            <h1>{{ apartment.name }}</h1>
            <p class="muted">{{ apartment.fullAddress }}</p>
        </div>
        <div class="head-actions">
            <a class="secondary-button" href="{{ path('employee_apartments') }}">Retour</a>
        </div>
    </section>

    <section id="employee-apartment-detail">
        {% include 'employee/_apartment_detail_content.html.twig' %}
    </section>
{% endblock %}
